{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('user_edit', {id: user.id}) }}" method="post">
                <fieldset>
                    <legend>Edit user</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_email">Email</label>
                        <div class="col-sm-4 ">
                            <input value="{{ user.email }}" class="form-control" id="user_email" placeholder="Email" name="user_edit[email]" required type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_fullName">Full Name</label>
                        <div class="col-sm-4 ">
                            <input value="{{ user.fullName }}" type="text" class="form-control" id="user_fullName" placeholder="Full Name" name="user_edit[fullName]" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password">Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_password" placeholder="Password" name="user_edit[password]">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password_confirm">Confirm Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_password_confirm" placeholder="Password" name="user_edit[confirm]">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Roles</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.roles) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('user_list') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>

                    {{  form_row(form._token) }}
                </fieldset>
            </form>
        </div>
    </div>


{% endblock %}