{% extends 'base.html.twig' %}

{% block body %}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.fullName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role.name }}</td>
            <td>
                <a href="{{ path("user_edit", {id: user.id} ) }}" class="btn btn-xs btn-info">Edit</a>
            </td>
            <td>
                <a href="{{ path("user_delete", {id: user.id}) }}" class="btn btn-xs btn-danger">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    {% endblock %}